Project/backend/resources/schemes/xml/participation.xsd

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Participation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ElectionId" type="xs:string"/>
                <xs:element name="PartyId" type="xs:string"/>
                <xs:element name="Votes" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>