Project/backend/src/schemes/xml/election.xsd

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Election">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="municipality" type="xs:string"/>
                <xs:element name="date" type="xs:string"/>
                <xs:element name="votes" type="xs:integer"/>
                <xs:element name="id" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>